@font-face {
    font-family: 'p22_bayer_universalregular';
    src: url(../fonts/copyfonts.com_p22_bayer_universal-webfont.eot);
    src: url(../fonts/copyfonts.com_p22_bayer_universal-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/copyfonts.com_p22_bayer_universal-webfont.woff) format('woff'),
         url(../fonts/copyfonts.com_p22_bayer_universal-webfont.ttf) format('truetype'),
         url(../fonts/copyfonts.com_p22_bayer_universal-webfont.svg#p22_bayer_universalregular) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oldstyle_1hplhs';
    src: url(../fonts/oldsh___-webfont.eot);
    src: url(../fonts/oldsh___-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/oldsh___-webfont.woff) format('woff'),
         url(../fonts/oldsh___-webfont.ttf) format('truetype'),
         url(../fonts/oldsh___-webfont.svg#oldstyle_1hplhs) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'vonnesregular';
    src: url(../fonts/vonnes-black-webfont.eot);
    src: url(../fonts/vonnes-black-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/vonnes-black-webfont.woff) format('woff'),
         url(../fonts/vonnes-black-webfont.ttf) format('truetype'),
         url(../fonts/vonnes-black-webfont.svg#vonnesregular) format('svg');
    font-weight: normal;
    font-style: normal;

}







body{
	background-color:#000;	
}

h1{
	float:right;
	margin-top:175px;
	margin-bottom:175px;
	padding-top:30px;
	padding-right:10px;
	padding-left:15px;
	width:558px;
	height:145px;
	background-color:#F00;
	font-size:127px;	
	font-family:'p22_bayer_universalregular', Arial, sans-serif;
}

h2{
	background-image:url(../images/headerbar2.png);
	margin-left:84px;	
	margin-bottom:22px;
	padding-top:4px;
	font-size:16px;
	font-family:'vonnesregular', Arial, sans-serif;
	height:19px;
}

	#people h2{
		margin-bottom:175px;
	}

h3{
	background-image:url(../images/headerbar2.png);
	padding-left:201px;	
	margin-bottom:175px;
	padding-top:4px;
	font-size:16px;
	font-family:'vonnesregular', Arial, sans-serif;
	height:19px;
	
}

h4{
	font-size:16px;
	font-family:'vonnesregular', Arial, sans-serif;
	margin-left:588px;
	padding-top:144px;	
}

p{
	margin-left:114px;	
	margin-right:168px;
	text-align:justify;
	font-size:20px;
	font-family:'oldstyle_1hplhs', Arial, sans-serif;
}

	p a{
		font-size:12px;
		font-family:'vonnesregular', Arial, sans-serif;	
		color:#000000;
	}
	
	a:hover{
		color:#F00;	
	}
	
/**walter gropius bold name**/
em{
	font-size:12px;
	font-family:'vonnesregular', Arial, sans-serif;	
	color:#000000;
}

#navHolder {
	width: 100%;
	height: 100px;
	position:fixed;
	top:-50px;
}

#nav {
	width: 100%;
	height: 50px;
	background-color:#000;
	z-index: 1;
	position: relative;
	opacity:.5;
}

#header{
	background-image:url(../images/navbar.png);
	height:23px;
	width:978px;
}

	#header li {
		width:260px;
		height:22px;
		margin-left:9px;
		margin-right:-30px;
		margin-top:3px;
		float:left;
		text-align: center;
	}
	
	#header a{
		width:260px;
		height:22px;
		display:block;
		color:#F00;
		text-decoration:none;
		font-family:'vonnesregular', Arial, sans-serif;
	}
	
	#header a:hover{
		color:#FFF;
	}

	.inBrowserFlow{
	
		float:left;
	}
	
	.fixedAtTheTop{
		margin-top:0px;
		position:fixed;
		top:15px;
		z-index:1;
	}

#container {
	width: 978px;
	margin-left: auto;
	margin-right: auto;
	background-color:#FFF;
	background-image:url(../images/background.png);
}

#header{
	
}

#manifesto{
	margin-top:150px;
	margin-bottom:150px;	
}

#bar1{
	width:978px;
	height:22px;
	background-image:url(../images/peoplebar.jpg);
	margin-bottom:170px;
}

#people{
	margin-left:84px;
	background-image:url(../images/people_background.png);
	height:1460px;
	width:894px;
	
}

	.bigThumbnail{
		width:222px;
		height:222px;	
		display:block;
	}
	
	.object{
		height:222px;
		width:222px;
		overflow:hidden;
		position:relative;
	}
	
	.title{
		 width:222px;
		 height:111px;
		 background-color:#000000;
		 position: absolute;
	 }
		
		/*galleries*/
		#gropius{
			background-image:url(../images/people%20thumbs/gropius.jpg);
		}
			#gropius1{
				background-image:url(../images/gallery%20thumbs/gropius1.jpg);
			}
			
			#gropius2{
				background-image:url(../images/gallery%20thumbs/gropius2.jpg);
			}
		
		#bayer{
			background-image:url(../images/people%20thumbs/bayer.jpg);
		}
			#bayer1{
				background-image:url(../images/gallery%20thumbs/bayer1.jpg);
			}
			
			#bayer2{
				background-image:url(../images/gallery%20thumbs/bayer2.jpg);
			}
		
		#wagenfeld{
			background-image:url(../images/people%20thumbs/wagenfeld.jpg);	
		}
			#wagenfeld1{
				background-image:url(../images/gallery%20thumbs/wagenfeld1.jpg);
			}
			
			#wagenfeld2{
				background-image:url(../images/gallery%20thumbs/wagenfeld2.jpg);
			}
		
		#breuer{
			background-image:url(../images/people%20thumbs/breuer.jpg);	
		}
			#breuer1{
				background-image:url(../images/gallery%20thumbs/breuer1.jpg);
			}
			
			#breuer2{
				background-image:url(../images/gallery%20thumbs/breuer2.jpg);
			}
		
		#bandt{
			background-image:url(../images/people%20thumbs/bandt.jpg);	
		}
			#bandt1{
				background-image:url(../images/gallery%20thumbs/brandt1.jpg);
			}
			
			#bandt2{
				background-image:url(../images/gallery%20thumbs/brandt2.jpg);
			}
	
	#myList li{
		float:left;
		margin-right:30px;	
		margin-bottom:30px;
	}
	
	#myList .rowEnd{
		margin-right:0px;	
	}
	
	#caption1{
		font-size:14px;
		font-family:'vonnesregular', Arial, sans-serif;	
		text-transform:uppercase;
		color:#FFFFFF;
		padding-left:10px;
		padding-top:10px;
	}
	
	#caption2{
		font-size:18px;
		font-family:'oldstyle_1hplhs', Arial, sans-serif;
		text-transform:lowercase;
		color:#FFFFFF;
		padding-left:10px;
		padding-top:10px;
	}

#bar2{
	width:978px;
	height:22px;
	background-image:url(../images/linkbar.jpg);
	margin-top:175px;	
	margin-bottom:170px;	
}

#quote{
	width:642PX;
	height:127px;
	margin-left:168px;
	margin-right:168px;
	padding-left:168px;
	padding-top:50px;
	background-image:url(../images/box.PNG);
	float:left;
	font-size:20px;
	font-family:'oldstyle_1hplhs', Arial, sans-serif;
}

#footer{
	margin-top:175px;
	margin-left:1px;
	margin-bottom:300px;
	width:978px;
	height:500px;
	background-image:url(../images/footer.png);
	background-repeat:no-repeat;
}

#linksHeader{
	margin-top:-19px;	
	
}

#links{
	margin-left:590px;
	padding-top:56px;	
	line-height:34px;
	
}

#links a{
	font-size:12px;
	font-family:'vonnesregular', Arial, sans-serif;	
	color:#000000;
	text-transform:uppercase;
}

	#links a:hover{
		color:#F00;	
	}


.clear{
	clear:both;
}